.product {
  display: flex;
  justify-content: center;

  .product__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;

    h1 {
      color: white;
      font-size: 30px;
      font-weight: 500;
      font-family: "Langar";
      text-align: center;
    }
  }
}
